
body {
    font-family: "Kanit", sans-serif;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    background-image: url('../src/images/1tom-2-scaled.jpg');
    background-size: cover;
    background-position: center;
    color: #fdfdfd;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Set height to 100% of viewport height */
    width: 100vw; /* Set width to 100% of viewport width */
    overflow: hidden; /* Prevents scrolling if the content exceeds viewport size */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    filter: saturate(0.5); /* Adjust saturation level */

}

